div{
    border: 1px solid black;
}


/* FLEX - el contenedor se comporta como un bloque, es decir,
 ocupa todo el espacio horizontal disponible */
#contenedorFlex{
    display:flex;
}

/* INLINE FLEX - el contenedor se comporta como un elemento en-línea */
#contenedorInlineFlex{
    display: inline-flex;
}