div{
    border: 1px solid black;
}

/* Se coloca en fila - es la opción por defecto */
#contenedorRow{
    display:flex;
    flex-direction: row; 
}

/* Se coloca en fila pero al revés */
#contenedorRowReverse{
    display: flex;
    flex-direction: column;
}

/* Se coloca en columna */
#contenedorColumn{
    display:flex;
    flex-direction: row-reverse;
}

/* Se coloca en columna al revés */
#contenedorColumnReverse{
    display: flex;
    flex-direction: column;
}